---
import Layout from "../layouts/Layout.astro";
import SectionHeader from "../components/SectionHeader.astro"
import Faq from '../components/Faq.astro'
import SunIcon from '../components/SunIcon.astro'

import { getCollection } from "astro:content"
const faqs = await getCollection('faqs')
---

<Layout title="Sunny Side Psychology - FAQs">
  <main>
	<div class="px-16 bg-matisse-700 w-full">
    <div class="flex justify-center pt-10">
	<SectionHeader headerText="Frequently Asked Questions"/>
  </div>
      <div class="grid md:grid-cols-2">
      {faqs.map((faq, index) => (
      <div class="flex flex-row">
      <Faq faq={faq}/>
      {
        index%2 !== 1
        &&
        <div class="hidden md:flex">
        <SunIcon />
        </div>
      }
      </div>
    ))}
    </div>
	<div/>
  </main>
</Layout>
