---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import SectionCard from "../components/SectionCard.astro";
import SectionHeader from "../components/SectionHeader.astro"
import homePageImage from '../assets/homePageImage.jpg'
import Button from '../components/Button.astro'
---

<Layout title="Sunnyside Psychology">
  <main>
	<div class="mx-16 mb-8">
	<SectionHeader headerText="Frequently Asked Questions"/>
	<div/>
  </main>
</Layout>
