---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import SectionCard from "../components/SectionCard.astro";
import SectionHeader from "../components/SectionHeader.astro"
import homePageImage from '../assets/homePageImage.jpg'
import Button from '../components/Button.astro'
import FeeTable from '../components/FeeTable.astro'

import { getCollection } from "astro:content"
const fees = await getCollection('fees')
console.log(fees)
---

<Layout title="Sunny Side Psychology | Fees & Rebates">
  <main>
	<div class="mx-16 mb-8">
	<SectionHeader headerText="Fees & Rebates"/>
    <div id="accordion-collapse" data-accordion="collapse">
        {fees.map((fee, index) => (
      <FeeTable fee={fee} index={index} />
    ))}
    </div>
	<div/>
  </main>
</Layout>
