---
import Layout from "../layouts/Layout.astro";
import NewHero from "../components/NewHero.astro";
import SectionCardWeb from "../components/SectionCardWeb.astro";
---

<Layout title="Sunny Side Psychology">
  <main>
    <NewHero />
	<div>
    <SectionCardWeb />
	<div/>
  </main>
</Layout>
