---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import SectionCard from "../components/SectionCard.astro";
import SectionHeader from "../components/SectionHeader.astro"
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
	<SectionHeader />
    <SectionCard />
  </main>
</Layout>

<style>
  .section-header {
    color: #7f7566;
    font-family: "Playfair Display Variable", sans-serif;
  }
</style>
