---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import SectionCardWeb from "../components/SectionCardWeb.astro";
import homePageImage from '../assets/homePageImage.jpg'
import Button from '../components/Button.astro'
---

<Layout title="Sunny Side Psychology">
  <main>
    <Hero />
	<div>
    <SectionCardWeb />
	<div/>
  </main>
</Layout>
