---
const { buttonText, type, href } = Astro.props;
---
<>
{
    type == "submit" ?
    (
        <button type="submit" 
            class="border border-matisse-700 rounded-3xl bg-matisse-700 hover:border-matisse-900 hover:bg-matisse-900 px-10 py-2 text-neutral-100 text-sm uppercase">
            {buttonText}    
        </button>
    )
    :
    (
        <a href={href} 
            class="border border-matisse-700 rounded-3xl bg-matisse-700 hover:border-matisse-900 hover:bg-matisse-900 px-10 py-2 text-neutral-100 text-sm uppercase">
            {buttonText}
        </a>   
    )
}
</>
