---
const { faq, index } = Astro.props;
const {Content} = await faq.render()
import SunIcon from './SunIcon.astro'
---

<div class="text-neutral-100 p-5">
  <div class="flex justify-center py-5">
  <SunIcon />
  </div>
  <h2 class="font-sans text-xl pb-3 uppercase font-extralight">{faq.data.question}</h2>
    <div class="p-5 font-serif">
      <Content />
    </div>
  </div>


