<nav class="bg-neutral-800 p-5 flex flex-col items-center">
<p class="text-sm">Email: <a href="mailto:sunnysidepsychology@outlook.com">sunnysidepsychology@outlook.com</a>
<p class="text-sm">Copyright © 2023 Rebekah Green - All Rights Reserved.</p>
</nav>
