---
import { Image } from 'astro:assets';
import Flags from '../assets/flags.png'
---
<nav class="bg-matisse-800 text-neutral-100 p-5 py-10 flex flex-col items-center font-serif text-sm">
<p class="md:w-2/3 text-center">We acknowledge that we live and work on Dunghutti Land. We acknowledge the Traditional Owners of Country from where our clients may connect with us throughout Australia. We pay our respects to their Elders past, present and emerging.</p>
<Image src={Flags} alt="" class="w-36 py-5"/>
<p>Copyright © 2023 Rebekah Green - All Rights Reserved.</p>
</nav>
