---
import { getImage } from "astro:assets";
import HeroImage from '../assets/hero.jpg'

const optimizedBackground = await getImage({src: HeroImage, format: 'webp'})
---

<div
  class="hero min-h-screen"
  style={`background-image: url(${optimizedBackground.src});`}
>
<slot />
</div>
