---
import Image from '../components/Image.astro';
import HeroImage from '../assets/hero.jpg'
import Button from "./Button.astro";
---

<div class="heroWrapper">
        <Image
          src={HeroImage}
          alt=""
          class="heroImage object-cover"
          loading="eager"
        />
    <div class="heroContent text-center text-neutral-100">
      <div class="max-w-md bg-persian-700 bg-opacity-90 p-10">
        <h2 class="mb-5 text-4xl font-serif text-neutral-100">
          Here for you, wherever you are
        </h2>
        <p class="mb-5 text-neutral-100 font-serif text-lg">
          Telehealth psychology available anywhere in Australia.
        </p>
        <Button buttonText="BOOK NOW" href="https://my.powerdiary.com/clientportal/sunnysidepsychology" />
      </div>
    </div>
</div>

<style>
    // step 1.
.heroWrapper {
  width: 100%;
}

.heroImage {
  position: relative;
  height: 100vh;
}

.heroContent {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 70px;
  right: 0px;
}
  </style>
