---
import Image from '../components/Image.astro';
import Rebekah from "../assets/rebekah.jpg"
---
<Image src={Rebekah} alt="Rebekah Foote" class="object-cover rounded-full w-32 h-32 my-5" />
<div class="text-persian-800 flex flex-col items-center">
<p class="font-sans uppercase text-lg">Rebekah Green</p>
<div class="text-xs flex flex-col items-center">
<p>BPsySc, MAppPsych, MAAPi</p>
<p>AHPRA Registration: PSY0002027193</p>
</div>
<div class="flex md:flex-row flex-col font-serif my-5">
<p class="p-5 md:w-1/2 text-justify">Rebekah is a Health Psychologist from the Mid-North Coast area of NSW (learn more about Health Psychologists <a href="https://psychology.org.au/psychology/about-psychology/types-of-psychologists/health-psychology">here</a>). With a gentle, compassionate and practical approach, she draws from a range of evidence-based therapeutic techniques to help her clients improve their mental health and work towards their goals.</p>
<p class="p-5 md:w-1/2 text-justify">As a Health Psychologist, Rebekah has a particular interest in working at the crossroads of physical and mental health, such as helping people cope with chronic health conditions and make positive changes to their health-related behaviours.</p>
</div>
</div>