---
import { Image } from 'astro:assets';
import homePageImage from '../assets/homePageImage.jpg'
import Button from "./Button.astro"
import { getEntry } from "astro:content"
const homePageText = await getEntry('pageText', 'home')
const {Content} = await homePageText.render()
---

<div class="fmax-w-screen-xl flex flex-col md:flex-row items-center justify-between mx-auto p-4">
<Image src={homePageText.data.image} alt={homePageText.data.imageAlt} class="md:w-1/3 md:pe-3" />
<div class="text-neutral-800 p-5">
  <h3 class="font-sans text-xl text-dark pb-3">{homePageText.data.heading}</h3>
  <Content />
        <div class="mt-5">
        <Button buttonText="Services" />
      </div>
</div>
</div>
